<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Idiomas</title>
    <style>
        body {
            background-color: #121212;
            color: #ffffff;
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 20px;
        }
        h1 {
            color: #007BFF;
        }
        a {
            display: inline-block;
            margin: 10px;
            color: #ff4081;
            text-decoration: none;
            font-size: 16px;
        }
        a:hover {
            text-decoration: underline;
        }
        form {
            background-color: #1e1e1e;
            padding: 20px;
            border-radius: 10px;
            display: inline-block;
            text-align: left;
        }
        label {
            display: block;
            margin: 10px 0 5px;
        }
        input {
            background-color: #1e1e1e;
            color: white;
            border: 1px solid #444;
            padding: 5px;
            border-radius: 5px;
            width: 100%;
        }
        button {
            background-color: #ff4081;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            margin-top: 10px;
            border-radius: 5px;
            width: 100%;
        }
        button:hover {
            background-color: #d83670;
        }
    </style>
</head>

<body>
    <h1>Editar Idioma para el empleado: <%= empleado.nombre %> <%= empleado.apellido %></h1>
    <div class="container">
        <form action="/editIdiomas" method="POST">
            <label for="codigo">Código</label>
            <input type="text" name="codigoI" id="codigoI" value="<%= idiomas.codigoI %>">
            <br><br>
            <label for="nombreI">Idioma:</label>
            <input type="text" name="nombreI" class="nombreI" value="<%= idiomas.nombreI %>" required>
            <br><br>
            <label for="tiempoI">Tiempo Hablando idioma:</label>
            <input type="text" name="tiempoI" id="tiempoI" value="<%= idiomas.tiempoI %>" required>
            <br><br>
            <button type="submit">Guardar cambios</button>
        </form>
    </div>
</body>

</html>
