<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de idiomas</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        padding: 0;
        background-color: #f4f4f4;
    }

    h1 {
        color: #333;
        text-align: center;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
    }

    a {
        text-decoration: none;
        color: #007bff;
    }

    a:hover {
        text-decoration: underline;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: white;

    }

    th,
    td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f8f9fa;
        color: #333;
        font-weight: bold;
    }


    .crear-link {
        display: inline-block;
        padding: 10px 20px;
        background-color: #28a745;
        color: white;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .crear-link:hover {
        background-color: #218838;
        text-decoration: none;
    }
</style>

<body>
    <h1>Gesti贸n de idiomas</h1>
    <h2>Informaci贸n del Empleado</h2>
    <p><strong>C贸digo Empleado:</strong>
        <%= empleado.codigoE %>
    </p>
    <p><strong>Nombre:</strong>
        <%= empleado.nombre %>
    </p>
    <p><strong>Apellido:</strong>
        <%= empleado.apellido %>
    </p>
    <p><strong>Edad:</strong>
        <%= empleado.edad %>
    </p>
    <h2>Idiomas del Empleado</h2>
    <table>
        <thead>
            <tr>
                <th>C贸digo</th>
                <th>Idioma</th>
                <th>Tiempo</th>
                <th>Editar</th>
                <th>Ver</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <% idiomas.forEach(function(dato) { %>
                <tr>
                    <td><%= dato.codigoI %></td>
                    <td><%= dato.nombreI %></td>
                    <td><%= dato.tiempoI %></td>
                    <td><a href="/editarI/<%= dato.codigoI %>">Editar</a></td>
                    <td><a href="/verI/<%= dato.codigoI %>">Ver</a></td>
                    <td><a href="/eliminarI/<%= dato.codigoI %>">Eliminar</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    
    <button type="submit"><a href="/creari/<%= empleado.codigoE %>">Agregar Idioma</a></button>
    <button type="submit"><a href="/Empleados2">Volver</a></button>
</body>

</html>