<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Empleado</title>
    <style>
        body {
            background-color: #121212;
            color: #ffffff;
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 20px;
        }
        h1 {
            color: #007BFF;
        }
        form {
            background-color: #1e1e1e;
            padding: 20px;
            border-radius: 10px;
            width: 50%;
            margin: auto;
        }
        label, input {
            display: block;
            width: 97%;
            margin-bottom: 10px;
            text-align: left;
        }
        input {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #444;
            background-color: #222;
            color: #fff;
        }
        button {
            background-color: #007BFF;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }
        button a {
            color: white;
            text-decoration: none;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <h1>Editar Empleado</h1>
    <form action="/editEmpleados" method="POST">
        <label for="codigo">Código</label>
        <input type="text" name="codigoE" id="codigoE" value="<%= empleado.codigoE %>" readonly>
        
        <label for="Nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="<%= empleado.nombre %>">
        
        <label for="Apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido" value="<%= empleado.apellido %>">
        
        <label for="Edad">Edad</label>
        <input type="text" name="edad" id="edad" value="<%= empleado.edad %>">
        
        <label for="Fecha">Fecha</label>
        <input type="date" name="fechaC" id="fechaC" value="<%= empleado.fechaC %>">
        
        <label for="Sueldo">Sueldo</label>
        <input type="number" name="sueldo" id="sueldo" value="<%= empleado.sueldo %>">
        
        <label for="Teléfono">Teléfono</label>
        <input type="text" name="telefono" id="telefono" value="<%= empleado.telefono %>">
        
        <button type="submit">Actualizar</button>
        <button><a href="/Empleados2">Cancelar</a></button>
    </form>
</body>

</html>