<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Empleados</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        padding: 0;
        background-color: #f4f4f4;
    }

    h1 {
        color: #333;
        text-align: center;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
    }

    a {
        text-decoration: none;
        color: #007bff;
    }

    a:hover {
        text-decoration: underline;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: white;

    }

    th,
    td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f8f9fa;
        color: #333;
        font-weight: bold;
    }


    .crear-link {
        display: inline-block;
        padding: 10px 20px;
        background-color: #28a745;
        color: white;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .crear-link:hover {
        background-color: #218838;
        text-decoration: none;
    }
</style>

<body>
    <h1>Gestión de Empleados</h1>
    <a href="/CrearE">Crear Empleados</a>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Fecha</th>
                <th>Sueldo</th>
                <th>Telefono</th>
                <th>Editar</th>
                <th>Ver</th>
                <th>Eliminar</th>
                <th>idomas</th>
            </tr>
        </thead>
        <tbody>
            <% empleado.forEach((dato)=>{ %>
                <tr>
                    <td>
                        <%= dato.codigoE %>
                    </td>
                    <td>
                        <%= dato.nombre %>
                    </td>
                    <td>
                        <%= dato.apellido %>
                    </td>
                    <td>
                        <%= dato.edad %>
                    </td>
                    <td>
                        <%= dato.fechaC %>
                    </td>
                    <td>
                        <%= dato.sueldo %>
                    </td>
                    <td>
                        <%= dato.telefono %>
                    </td>
                    <td><a href="/editarE/<%= dato.codigoE %>">Editar</a></td>
                    <td><a href="/verE/<%= dato.codigoE %>">Ver</a></td>
                    <td><a href="/eliminarE/<%= dato.codigoE %>">Eliminar</a></td>
                    <td><a href="/idioma/<%= dato.codigoE %>">Idiomas</a></td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

</html>