<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
</head>

<body>
    <h1>Gestión de Clientes</h1>
    <a href="/Crear">Crear Clientes</a>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Ciudad</th>
                <th>Telefono</th>
                <th>Editar</th>
                <th>Ver</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <% clientes.forEach((dato)=>{ %>
                <tr>
                    <td>
                        <%= dato.codigo %>
                    </td>
                    <td>
                        <%= dato.nombre %>
                    </td>
                    <td>
                        <%= dato.apellido %>
                    </td>
                    <td>
                        <%= dato.edad %>
                    </td>
                    <td>
                        <%= dato.ciudad %>
                    </td>
                    <td>
                        <%= dato.telefono %>
                    </td>
                    <td><a href="/editar/<%= dato.codigo %>">Editar</a></td>
                    <td><a href="/ver/<%= dato.codigo %>">Ver</a></td>
                    <td><a href="/eliminar/<%= dato.codigo %>">Eliminar</a></td>
                </tr>
                <% }) %>
        </tbody>
    </table>

</html>