<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Ver Cliente</h1>
    <form>
        <label for="codigo">Código</label>
        <input type="text" name="codigo" id="codigo" value="<%= cliente.codigo %>" readonly>

        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="<%= cliente.nombre %>" readonly>

        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido" value="<%= cliente.apellido %>" readonly>

        <label for="edad">Edad</label>
        <input type="text" name="edad" id="edad" value="<%= cliente.edad %>" readonly>

        <label for="telefono">Teléfono</label>
        <input type="text" name="telefono" id="telefono" value="<%= cliente.telefono %>" readonly>

        <label for="ciudad">Ciudad</label>
        <input type="text" name="ciudad" id="ciudad" value="<%= cliente.ciudad %>" readonly>

        <a href="/cliente2">Volver</a>
    </form>
</body>

</html>